* {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background: url(http://www.pptback.com/uploads/flights-planet-backgrounds-powerpoint.jpg);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template: 50px 1fr;
  grid-template-areas: 
  "nav"
  "main"
}

body > nav {
  grid-area: nav;
  background: linear-gradient(to right, #4A6A9B, #00B7FF);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  height: 45px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

#welcome, nav > a {
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#welcome, nav > a:hover, nav > a.active, #detail, #addFlight, #addTicket {
  color: white;
  text-decoration: none;
  background: linear-gradient(to left, black, #00B7FF);
}

#new-form {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  align-content: center;
}

#new-form, #add-destination-form, #add-ticket-form {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

h1, p {
  text-align: center;
}

label {
  grid-column: 1 / 2;
  text-align: end;
}

#welcome, h1, h2, h4, p, #show-page div:nth-child(odd), #add-destination-form {
  margin: auto;
}

table, p {
  font-size: 20px;
}

table, thead, th {
  border-bottom: 2px solid #00B7FF;
}

table, td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3) {
  min-width: 100px;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-top: 40px;
}

#show-page div:nth-child(odd) {
  font-weight: bold;
}

#welcome, #add-destination-form, #add-ticket-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-destination-form input[type="submit"], #add-ticket-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
}

td {
  padding: 5px;
  color: white;
}

input, select, .button, #add {
  background: linear-gradient(to right, black, #00B7FF);
  color: white;
}

.button, #add, #detail {
  font-size: 12px;
  border-radius: 10px;
}

nav a, a {
  font-size: 14px;
  border: 2px solid white;
  background: linear-gradient(to right, white, #00B7FF);
  border-radius: 10px;
  color: #4A6A9B;
  padding: 5px;
  margin: 0 20px;
}

h1, h2, h4, h5, div, label, th, p {
  color: #00B7FF;
}
